.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 1.8em;
  }

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-bottom: 40px;

    .front__end,
    .other {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}


// Media Query

@media (min-width: 768px){
  .skill{
    .sections{
      padding-bottom: 60px;
      
   

      .front__end,
      .other {
      flex-direction: row;
      gap: 40px;
      justify-content: center;
      
      }

      .other{

      }
    }
  }
}