.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-top: 1.8em;
    color: #2860c0;
  }

  .title__bar{
    background: #2860c0;
    height: 4px;
    width: 70px;
    margin-bottom: 4em;
   
  }

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-bottom: 60px;

    h6{
      font-size: 1.3em;
    }

    .front__end,
    .other {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}


// Media Query

@media (min-width: 768px){
  .skill{
    .sections{
      padding-bottom: 120px;
      
   

      .front__end,
      .other {
      flex-direction: row;
      gap: 40px;
      justify-content: center;
      
      }

      .other{

      }
    }
  }
}