.about {
  h2 {
    padding-top: 1.8em;
  }

  // Wrapper for about section
  .wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .intro {
      letter-spacing: 2px;
      .about__img {
        height: 180px;
      }

      p {
        font-style: italic;
        padding-bottom: 2em;
      }
    }

    .biography {
      font-family: "Work Sans", sans-serif;

      h5 {
        font-weight: 800;
        font-size: 2em;
        padding-bottom: 1.2em;
      }

      p {
        margin: 10px;
        padding-bottom: 10px;
      }
    }
  }
}



@media (min-width: 844px) {
  .about {
    // Wrapper for about section
    .wrapper {
      .biography {
        max-width: 800px;
        p{
          font-size: 1.1em;
        }
      }

    }
  }
}
@media (min-width: 1200px) {
  .about {
    // Wrapper for about section
    .wrapper {
      .intro{
        .about__img{
          height: 220px;
        }
      }
      .biography {
        p{
          font-size: 1.4em;
        }
      }
    }
  }
}
